
.bg-light {
    background-color: #006eff;
    color: #333;
}

.bg-dark {
    background-color: #111;
    color: #fff;
}

.bg-header {
    background-color: rgba(0, 0, 0, 0.8);
}

.bg-footer {
    background-color: rgba(0, 0, 0, 0.6);
}

/* ... Other styles ... */
